<?xml version="1.0" ?>

<launch>
  <arg name="load_gripper" default="true" />
  <arg name="panda_1_ip" default="192.168.1.22"/>
  <arg name="panda_2_ip" default="192.168.1.23"/>
  <arg name="publish_rate" default="30" />

  <param if="$(arg load_gripper)" name="robot_description" textfile="$(find mmint_combined_panda_config)/urdfs/mmint_combined_panda.urdf" />

  <node name="panda_1_joint_state_publisher" pkg="franka_visualization" type="robot_joint_state_publisher" output="screen">
    <rosparam command="load" file="$(find franka_visualization)/config/panda_1_settings.yaml" />
    <param name="robot_ip" value="$(arg panda_1_ip)" />
    <param name="publish_rate" value="$(arg publish_rate)" />
  </node>

  <node name="panda_2_joint_state_publisher" pkg="franka_visualization" type="robot_joint_state_publisher" output="screen">
    <rosparam command="load" file="$(find franka_visualization)/config/panda_2_settings.yaml" />
    <param name="robot_ip" value="$(arg panda_2_ip)" />
    <param name="publish_rate" value="$(arg publish_rate)" />
  </node>

  <node name="gripper_1_joint_state_publisher" pkg="franka_visualization" type="gripper_joint_state_publisher" output="screen" if="$(arg load_gripper)">
    <rosparam command="load" file="$(find franka_visualization)/config/gripper_1_settings.yaml" />
    <param name="robot_ip" value="$(arg panda_1_ip)" />
    <param name="publish_rate" value="$(arg publish_rate)" />
  </node>

  <node name="gripper_2_joint_state_publisher" pkg="franka_visualization" type="gripper_joint_state_publisher" output="screen" if="$(arg load_gripper)">
    <rosparam command="load" file="$(find franka_visualization)/config/gripper_2_settings.yaml" />
    <param name="robot_ip" value="$(arg panda_2_ip)" />
    <param name="publish_rate" value="$(arg publish_rate)" />
  </node>

  <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
    <param name="rate" value="$(arg publish_rate)" />
    <rosparam param="source_list">[panda_1_joint_state_publisher/joint_states, panda_2_joint_state_publisher/joint_states, gripper_1_joint_state_publisher/joint_states, gripper_2_joint_state_publisher/joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_visualization)/launch/combined_franka_visualization.rviz"/>
</launch>
